star-border {
  --sb-color: #ffffff;
  --sb-speed: 6s;
  --sb-thickness: 1px;
  display: block;
  position: relative;
}

star-border .star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  width: 100%;
}

star-border .border-gradient-bottom,
star-border .border-gradient-top {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 0.65;
  border-radius: 50%;
  background: radial-gradient(circle, var(--sb-color), transparent 10%);
  animation-duration: var(--sb-speed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 0;
}

star-border .border-gradient-bottom {
  bottom: calc(-12px - var(--sb-thickness));
  right: -250%;
  animation-name: star-movement-bottom;
}

star-border .border-gradient-top {
  top: calc(-12px - var(--sb-thickness));
  left: -250%;
  animation-name: star-movement-top;
}

star-border .inner-content {
  position: relative;
  border-radius: inherit;
  border: var(--sb-thickness) solid rgba(255, 255, 255, 0.08);
  background: transparent;
  z-index: 1;
  display: block;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}